<header class="navbar">
  <div class="navbar-left">
    <a href="/dash" class="brand">
      <span class="brand-logo"><img class ="logoprincipal" src="/images/logo_simple.PNG" alt="logo"></span>
      <span class="brand-text">OLYMP<span class="brand-sub">DIGITAL MEDIA</span></span>
    </a>
  </div>

  <nav class="navbar-right">
    <% if (currentUser) { %>
      <span class="nav-username">Bonjour, <%= currentUser.fullName %></span>
      <a href="/videos" class="nav-link">Streaming</a>
      <a href="/videos/sport" class="nav-link">Sport</a>
      <a href="/videos/sport" class="nav-link">Les Léopards</a>
      <a href="/payment/choose" class="nav-btn nav-btn-outline">Mon abonnement</a>
      <a href="/logout" class="nav-btn nav-btn-danger">Déconnexion</a>
    <%} else { %>
      <a href="/extraits" class="nav-link">Voir des extraits</a>
      <a href="/login" class="nav-btn nav-btn-outline">Connexion</a>
      <a href="/register" class="nav-btn nav-btn-primary">S’inscrire</a>
    <% } %>
  </nav>
</header>
<%- include('goalOverlay') %>
  <script src="/js/goalOverlay.js"></script>