<aside class="ad-card">
  <p class="ad-label">Sponsorisé</p></br></br>

  <div class="ad-logos">
    <!--<img src="/images/tpi-rm.png" alt="RAWBANK" class="ad-logo">
    <span class="ad-x">×</span>-->
    <img src="/images/logo_total-rm.png" alt="OLYMP" class="ad-logo2">
  </div>

  <p class="ad-text"></br>
    Ouvre ton compte Illico-cash et ne rate plus aucun match de la CAN Maroc 2025.
    Cash-in Illico, cash-out rapide, et le foot en haute définition partout.
  </p></br>

  <ul class="ad-list">
    <li>Cashless pour tes soirées foot</li>
    <li>Paiements IllicoCash instantanés</li>
    <li>Avantages exclusifs supporters Léopards</li>
  </ul></br>

  <button class="btn btn-primary btn-full ad-btn">
    Découvrir l’offre
  </button>

  <p class="ad-footnote">Message publicitaire – maquette de démonstration.</p>
</aside>
