<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>OLYMP Streaming – CAN 2025</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/logo_total.PNG">
</head>
<body>
  <%- include('partials/navbar') %>
  <main class="page-wrapper">
    <%- include('partials/flash') %>
    <%- body %>
  </main>
</body>
</html>
